<%- include('partials/header') %>
    <div class="else">
        <div class="card-container">
            <% if (shows) { %>
                <% shows.forEach(show => { %>
                   <div class="card-container">
                        <div class="card-info">
                            <h4><%= show.name %></h5>
                            <p>Episodes <%= show.episodes %></p>
                            <% if (show.image_url) { %>
                                <img src="<%= show.image_url %>" alt="<%= show.name %>">
                            <% } else { %>
                                <div class="img"></div>
                            <% } %>
                            <a href="/shows/<%= show.id %>" class="button">See more</a>
                        </div>
                    </div> 
                <% }) %>
            <% } else { %>
                <div class="card-container">
                    <div class="card-info">
                        <h4>info not found</h5>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
<%- include('partials/footer') %>