<%- include('partials/header') %>

<div class="card-container">
    <h2><%= show.name %></h2>
    <p>Episodes: <%= show.episodes %></p>
    <p>First Aired/Released: <%= show.firstAired %></p>
    <p>Episode Length: <%= show.length %></p>
    <p>Description: <%= show.description %></p>
    <a href="/" class="button">Back to home page</a>
</div>

<%- include('partials/footer') %>